# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/
*.nbconvert.ipynb

# =========================
# OS / Editor files
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# =========================
# Logs & temp
# =========================
*.log
*.tmp

# =========================
# Data (optional – READ BELOW)
# =========================
# data/raw/
# data/processed/

# =========================
# Streamlit cache
# ===========
